<a target="_blank" href="https://colab.research.google.com/github/lukebarousse/Int_SQL_Data_Analytics_Course/blob/main/Resources/Blank_SQL_Notebook.ipynb">
  <img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/>
</a>

# Blank SQL Notebook

#### Import Libraries & Database

In [1]:
import sys
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

# If running in Google Colab, install PostgreSQL and restore the database
if 'google.colab' in sys.modules:
    # Update package installer
    !sudo apt-get update -qq > /dev/null 2>&1

    # Install PostgreSQL
    !sudo apt-get install postgresql -qq > /dev/null 2>&1

    # Start PostgreSQL service (suppress output)
    !sudo service postgresql start > /dev/null 2>&1

    # Set password for the 'postgres' user to avoid authentication errors (suppress output)
    !sudo -u postgres psql -c "ALTER USER postgres WITH PASSWORD 'password';" > /dev/null 2>&1

    # Create the 'colab_db' database (suppress output)
    !sudo -u postgres psql -c "CREATE DATABASE contoso_100k;" > /dev/null 2>&1

    # Download the PostgreSQL .sql dump
    !wget -q -O contoso_100k.sql https://github.com/lukebarousse/Int_SQL_Data_Analytics_Course/releases/download/v.0.0.0/contoso_100k.sql

    # Restore the dump file into the PostgreSQL database (suppress output)
    !sudo -u postgres psql contoso_100k < contoso_100k.sql > /dev/null 2>&1

    # Shift libraries from ipython-sql to jupysql
    !pip uninstall -y ipython-sql > /dev/null 2>&1
    !pip install jupysql > /dev/null 2>&1

# Load the sql extension for SQL magic
%load_ext sql

# Connect to the PostgreSQL database
%sql postgresql://postgres:password@localhost:5432/contoso_100k

# Enable automatic conversion of SQL results to pandas DataFrames
%config SqlMagic.autopandas = True

# Disable named parameters for SQL magic
%config SqlMagic.named_parameters = "disabled"

# Display pandas number to two decimal places
pd.options.display.float_format = '{:.2f}'.format

Connecting to 'postgresql://postgres:***@localhost:5432/contoso_100k'

In [2]:
%%sql

SELECT
  EXTRACT(YEAR FROM orderdate) AS year,
  EXTRACT(QUARTER FROM orderdate) AS quarter,
  SUM(quantity)
FROM sales
GROUP BY
  year,
  quarter
ORDER BY
  year,
  quarter

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

38 rows affected.

    year quarter    sum
0   2015       1   4493
1   2015       2   4071
2   2015       3   5766
3   2015       4   7261
4   2016       1   7158
5   2016       2   5715
6   2016       3   6203
7   2016       4   7793
8   2017       1   7745
9   2017       2   6084
10  2017       3   8233
11  2017       4  11841
12  2018       1  14073
13  2018       2  15141
14  2018       3  17033
15  2018       4  23340
16  2019       1  24371
17  2019       2  18559
18  2019       3  20232
19  2019       4  21904
20  2020       1  18968
21  2020       2   7666
22  2020       3   4474
23  2020       4   4126
24  2021       1   7025
25  2021       2  11188
26  2021       3  17716
27  2021       4  26179
28  2022       1  33119
29  2022       2  31381
30  2022       3  38571
31  2022       4  40765
32  2023       1  35538
33  2023       2  24486
34  2023       3  27556
35  2023       4  30593
36  2024       1  30134
37  2024       2   1869

In [3]:
%%sql

SELECT
  TO_CHAR(orderdate, 'WW-YYYY') AS week,
  SUM(s.netprice * s.quantity * s.exchangerate) AS week_revenue
FROM sales s
WHERE
  TO_CHAR(orderdate, 'YYYY') = '2023'
GROUP BY week

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

53 rows affected.

       week  week_revenue
0   01-2023    1118860.15
1   02-2023     773467.25
2   03-2023     797088.74
3   04-2023     782617.25
4   05-2023     717966.27
5   06-2023     736953.05
6   07-2023    1306411.98
7   08-2023    1565117.98
8   09-2023     855867.58
9   10-2023     674366.67
10  11-2023     572372.82
11  12-2023     296270.32
12  13-2023     192971.20
13  14-2023     136913.60
14  15-2023     155401.94
15  16-2023     319794.80
16  17-2023     521159.07
17  18-2023     753761.03
18  19-2023     593732.21
19  20-2023     640474.39
20  21-2023     680621.01
21  22-2023     656573.65
22  23-2023     639532.20
23  24-2023     691279.78
24  25-2023     651605.62
25  26-2023     630744.45
26  27-2023     663660.52
27  28-2023     578634.87
28  29-2023     594352.59
29  30-2023     344437.15
30  31-2023     330799.10
31  32-2023     596693.03
32  33-2023     707979.33
33  34-2023     638344.63
34  35-2023     621132.00
35  36-2023     623176.05
36  37-2023     651658.91
37  38-2023     525843.34
38  39-2023     589952.09
39  40-2023     620493.42
40  41-2023     656365.04
41  42-2023     520907.25
42  43-2023     569826.74
43  44-2023     574432.72
44  45-2023     632663.06
45  46-2023     664647.45
46  47-2023     627628.45
47  48-2023     594660.28
48  49-2023     613843.74
49  50-2023     622248.89
50  51-2023     759557.47
51  52-2023     717107.77
52  53-2023       5594.66

In [4]:
%%sql

SELECT
  DATE_TRUNC('WEEK', orderdate) AS week,
  PERCENTILE_CONT(0.50) WITHIN GROUP (ORDER BY (s.netprice * s.quantity * s.exchangerate)) AS week_revenue
FROM sales s
WHERE
  TO_CHAR(orderdate, 'YYYY') = '2023'
GROUP BY week

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

53 rows affected.

                        week  week_revenue
0  2022-12-26 00:00:00+00:00        562.24
1  2023-01-02 00:00:00+00:00        425.84
2  2023-01-09 00:00:00+00:00        394.20
3  2023-01-16 00:00:00+00:00        430.89
4  2023-01-23 00:00:00+00:00        363.62
5  2023-01-30 00:00:00+00:00        348.30
6  2023-02-06 00:00:00+00:00        392.13
7  2023-02-13 00:00:00+00:00        380.00
8  2023-02-20 00:00:00+00:00        399.00
9  2023-02-27 00:00:00+00:00        389.83
10 2023-03-06 00:00:00+00:00        383.53
11 2023-03-13 00:00:00+00:00        387.14
12 2023-03-20 00:00:00+00:00        387.11
13 2023-03-27 00:00:00+00:00        340.20
14 2023-04-03 00:00:00+00:00        285.85
15 2023-04-10 00:00:00+00:00        332.68
16 2023-04-17 00:00:00+00:00        358.82
17 2023-04-24 00:00:00+00:00        370.24
18 2023-05-01 00:00:00+00:00        347.94
19 2023-05-08 00:00:00+00:00        323.56
20 2023-05-15 00:00:00+00:00        361.02
21 2023-05-22 00:00:00+00:00        387.60
22 2023-05-29 00:00:00+00:00        369.10
23 2023-06-05 00:00:00+00:00        387.03
24 2023-06-12 00:00:00+00:00        377.34
25 2023-06-19 00:00:00+00:00        359.19
26 2023-06-26 00:00:00+00:00        354.72
27 2023-07-03 00:00:00+00:00        363.50
28 2023-07-10 00:00:00+00:00        354.00
29 2023-07-17 00:00:00+00:00        405.93
30 2023-07-24 00:00:00+00:00        355.45
31 2023-07-31 00:00:00+00:00        339.39
32 2023-08-07 00:00:00+00:00        393.80
33 2023-08-14 00:00:00+00:00        374.10
34 2023-08-21 00:00:00+00:00        418.91
35 2023-08-28 00:00:00+00:00        348.93
36 2023-09-04 00:00:00+00:00        363.12
37 2023-09-11 00:00:00+00:00        391.64
38 2023-09-18 00:00:00+00:00        312.91
39 2023-09-25 00:00:00+00:00        365.30
40 2023-10-02 00:00:00+00:00        366.08
41 2023-10-09 00:00:00+00:00        376.71
42 2023-10-16 00:00:00+00:00        299.96
43 2023-10-23 00:00:00+00:00        346.37
44 2023-10-30 00:00:00+00:00        313.55
45 2023-11-06 00:00:00+00:00        325.62
46 2023-11-13 00:00:00+00:00        419.93
47 2023-11-20 00:00:00+00:00        337.81
48 2023-11-27 00:00:00+00:00        316.92
49 2023-12-04 00:00:00+00:00        376.45
50 2023-12-11 00:00:00+00:00        334.62
51 2023-12-18 00:00:00+00:00        365.49
52 2023-12-25 00:00:00+00:00        336.48

In [7]:
%%sql
SELECT
  orderkey,
  orderdate,
  EXTRACT(DECADE FROM orderdate) AS decade,
  EXTRACT(QUARTER FROM orderdate),
  EXTRACT(MONTH FROM orderdate),
  EXTRACT(YEAR FROM orderdate),
  EXTRACT(ISOYEAR FROM orderdate)
FROM sales

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

199873 rows affected.

        orderkey   orderdate decade extract extract extract extract
0           1000  2015-01-01    201       1       1    2015    2015
1           1000  2015-01-01    201       1       1    2015    2015
2           1001  2015-01-01    201       1       1    2015    2015
3           1002  2015-01-01    201       1       1    2015    2015
4           1002  2015-01-01    201       1       1    2015    2015
...          ...         ...    ...     ...     ...     ...     ...
199868   3398034  2024-04-20    202       2       4    2024    2024
199869   3398034  2024-04-20    202       2       4    2024    2024
199870   3398035  2024-04-20    202       2       4    2024    2024
199871   3398035  2024-04-20    202       2       4    2024    2024
199872   3398035  2024-04-20    202       2       4    2024    2024

[199873 rows x 7 columns]

In [20]:
%%sql
SELECT
  DATE_PART('doy', orderdate) AS day,
  SUM(s.netprice * s.quantity * s.exchangerate)
FROM sales s
WHERE
  DATE_PART('year', orderdate) = 2022
GROUP BY
  day

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

365 rows affected.

       day       sum
0     1.00 255185.54
1     2.00  30229.29
2     3.00 141615.78
3     4.00 129968.60
4     5.00 171813.44
..     ...       ...
360 361.00 113441.22
361 362.00 198531.19
362 363.00 202345.75
363 364.00 184191.39
364 365.00 231514.53

[365 rows x 2 columns]

In [29]:
%%sql
SELECT
  EXTRACT(DOW FROM orderdate) AS day_of_week,
  COUNT(orderkey)
FROM sales
WHERE
  EXTRACT(YEAR FROM orderdate) = EXTRACT(YEAR FROM CURRENT_DATE) - 5
GROUP BY
  day_of_week

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

7 rows affected.

  day_of_week  count
0           0    162
1           1   1154
2           2   1458
3           3   2080
4           4   2173
5           5   1535
6           6   2705

In [36]:
%%sql
SELECT
  EXTRACT(YEAR FROM orderdate) AS order_year,
  EXTRACT(QUARTER FROM orderdate) AS order_quarter,
  COUNT(orderkey) AS total_orders,
  COUNT(DISTINCT customerkey) AS customers
FROM
  sales
WHERE
  DATE_PART('year', orderdate) >= DATE_PART('year', NOW()) - 6
GROUP BY
  order_year,
  order_quarter

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

22 rows affected.

   order_year order_quarter  total_orders  customers
0        2019             1          7690       3113
1        2019             2          5921       2356
2        2019             3          6364       2627
3        2019             4          7043       2807
4        2020             1          6054       2542
5        2020             2          2434       1033
6        2020             3          1471        612
7        2020             4          1308        566
8        2021             1          2173        906
9        2021             2          3559       1466
10       2021             3          5597       2336
11       2021             4          8456       3396
12       2022             1         10566       4248
13       2022             2          9972       4002
14       2022             3         12267       4799
15       2022             4         12946       5142
16       2023             1         11267       4485
17       2023             2          7794       3164
18       2023             3          8744       3509
19       2023             4          9712       3853
20       2024             1          9534       3867
21       2024             2           597        246

In [37]:
%sql SELECT * FROM store LIMIT 1

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

1 rows affected.

,storekey,storecode,geoareakey,countrycode,countryname,state,opendate,closedate,description,squaremeters,status
0,10,1,1,AU,Australia,Australian Capital Territory,2008-01-01,None,Contoso Store Australian Capital Territory,595.00,None

In [41]:
%%sql
SELECT
  storekey,
  EXTRACT(YEAR FROM AGE(closedate, opendate)) * 12 + EXTRACT(MONTH FROM AGE(closedate, opendate)) AS closure_time_months
FROM store
WHERE
  closedate IS NOT NULL

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

16 rows affected.

    storekey closure_time_months
0         20                 101
1         30                  43
2         70                  82
3         72                  36
4        110                  71
5        200                  79
6        250                  63
7        280                  55
8        350                  97
9        410                  63
10       460                  30
11       465                  49
12       520                  72
13       580                  95
14       600                 104
15       630                 139

In [52]:
%%sql
SELECT
  customerkey,
  CASE
    WHEN EXTRACT(YEAR FROM AGE(CURRENT_DATE, birthday)) < 25 THEN 'Under 25'
    WHEN EXTRACT(YEAR FROM AGE(CURRENT_DATE, birthday)) BETWEEN 25 AND 50 THEN '25-50'
    ELSE '50+'
  END AS age_group,
  EXTRACT(YEAR FROM AGE(CURRENT_DATE, birthday)) * 12 + EXTRACT(MONTH FROM AGE(CURRENT_DATE, birthday)) AS age_in_months
FROM customer

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

104990 rows affected.

        customerkey age_group age_in_months
0                15       50+           725
1                23     25-50           423
2                36       50+           733
3               120       50+           944
4               180       50+           844
...             ...       ...           ...
104985      2099639       50+           963
104986      2099656       50+           960
104987      2099697       50+           704
104988      2099711       50+          1015
104989      2099743     25-50           306

[104990 rows x 3 columns]